<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>
    <ul class="nav">
        <li class="nav-item"><a href="gadgets/buttons">buttons.html</a></li>
        <li class="nav-item"><a href="gadgets/cards">cards.html</a></li>
        <li class="nav-item"><a href="gadgets/colors">colors.html</a></li>
        <li class="nav-item"><a href="gadgets/containers">container.html</a></li>
        <li class="nav-item"><a href="positionings/forms">forms.html</a></li>
        <li class="nav-item"><a href="positionings/grids">grids.html</a></li>
        <li class="nav-item"><a href="positionings/standards">Standards.html</a></li>
        <li class="nav-item"><a href="positionings/tables">tables.html</a></li>
    </ul> 
</nav>
<body>
    <h2>Main</h2>
</body>
</html>